:root{
	/*Colors*/
	--blue: #62ACDF;
	--grey: #828282;

	/*Fonts*/
	--montserrat: 'Montserrat', sans-serif;
	--merriweather: 'Merriweather', sans-serif;
	
}




*/
/*Grey:  #828282
Blue:  #62ACDF*/
/*------*/

/*Fonts
font-family: 'Bowlby One SC', cursive;
font-family: 'Ultra', serif;*/



/*Navigation*/
.navbar-custom{
	background: none;
	padding-top: 20px;	
}

#nav{
	padding-top: 30px;
	/*font-family: var(--montserrat);*/
	font-family: var(--montserrat);
	
}

#logo{
	/*padding: 10px 10px 0 10px;*/
	width: 125px !important;
	height: 130px !important;
}

#nav a {
	color: var(--grey) !important;
	text-decoration: none;
	font-size: 24px;
}

#nav a:link {
	color: var(--grey) !important;
}

#nav a:visited {
	color: var(--grey) !important;
}

#nav a:hover {
	color: var(--grey) !important;
	text-decoration: none;
	background-color: white;
}

#nav a:active {
	color: var(--grey);
}

/*button.navbar-toggle.collapsed{
	background-color: var(--grey);
	}*/

	span.icon-bar{
		background-color: var(--blue);
	}
	.glyphicon.glyphicon-download-alt{
		font-size: 17px;

	}

	/*------------------------Navigation End---------------------------------------------------*/


	/*Body Content*/

	.jumbotron{

		width: 100% !important;
		height: 300px !important;
		background-color: #cdfdf4 !important;
		border-radius: 0px !important;
	}

	#body{
		padding-top: 150px;
	}


	/*------------------------Body Content End---------------------------------------------------*/

	/*Resume*/

	#resume{
		width: 800px;
		height: 1000px;
		padding-bottom: 20px;
	}

	.btn-custom{
		background-color: var(--grey);
		color: white;	
		width: 250px;
	}

	.btn-custom:link {
		color: white !important;
		text-decoration: none !important;

	}
	.btn-custom:visited {
		color: white !important;
		text-decoration: none !important;

	}

	.btn-custom:hover {
		color: white !important;
		text-decoration: none !important;

	}
	/*------------------------Resume End---------------------------------------------------------*/

	/*Footer*/

	footer {	
		color: var(--grey);
		padding: 5px 32px 12px 32px;
		font-family: var(--montserrat);

	}

	footer a {
		color: white;

	}

	footer a:hover {
		color: white;
		text-decoration: none;
	}

	.social{
		display: inline;
		list-style: none;

	}

	.fa{
		color: var(--blue);
		padding-top: 10px;
		padding-right: 5px;

	}
	a.btn-custom{
		color: white;
		background-color: var(--blue);
		font-size: 38px;
		font-family: var(--montserrat);
	}

	span.glyphicon-envelope{
		padding-right: 10px;
		font-size: 30px;
	}

	/*------------------------Footer End---------------------------------------------------------*/

	/*Portfolio*/

	.thumbnail{
		margin: 2px !important;
		width: 375px !important;
		margin-bottom: 15px !important;
		opacity: 0.6;
	}

	.thumbnail:hover{
		margin: 2px !important;
		width: 375px !important;
		/*margin-bottom: 10px !important;*/
		opacity: 1.0;
		cursor: hand;
		transform: scale(1.02);
	}

	

	p.caseStudy{
		font-family: var(--montserrat);
		font-size: 15px;
		text-decoration: none;
		color: var(--blue);
	}
}
p a.caseStudy{			
	padding-left: 10px;
	font-family: var(--montserrat);
	font-size: 15px;
	text-decoration: none;					
}

p a.caseStudy:link{			
	font-family: var(--montserrat);
	font-size: 15px;
	text-decoration: none;
	color: var(--blue);
}
p a.caseStudy:visited{			
	font-family: var(--montserrat);
	font-size: 15px;
	text-decoration: none;
	color: var(--blue);
}	
p a.caseStudy:hover{			
	font-family: var(--montserrat);
	font-size: 15px;
	text-decoration: none;
	color: var(--blue);
}
p a.caseStudy:active{			
	font-family: var(--montserrat);
	font-size: 15px;
	text-decoration: none;
	color: var(--blue);
}

.portfolioTitle{
	font-family: var(--merriweather);
	color: var(--grey);			
}


i.fa.fa-github{
	color: var(--blue);
	padding-bottom: 5px;
	text-align: center;

}

.summary{
	font-family: var(--montserrat);
	font-size: 12px;
	/*align-content: left !important;*/
	color: var(--grey);
}

.subtitle{
	font-family: var(--montserrat);
	font-size: 12px;
	text-align: center !important;
	color: var(--blue);
}




/*------------------------Portfolio End---------------------------------------------------------*/

/*About*/

.aboutHeader{
	color: var(--blue);
	font-size: 60px;
	font-family: 'Montserrat', serif;
}

.skillsHeading{	
	font-family: var(--merriweather);
	color: var(--grey);		
	font-size: 35px;
}

.list-group-item{
	color: var(--blue);
	font-size: 28px;
}

.helloHeader{
	font-size: 40px;
	color: var(--blue);
	/*font-family: 'Bowlby One SC', cursive;*/
	font-family: 'Ultra', serif;*/

}

.bio{
	color: var(--grey);
	font-size: 27px;
	padding-top: 25px;
}

.headshot{
	padding-bottom: 0 !important;
}
/*------------------------About End------------------------------------------------------------